body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-size: calc(7vmin + 5px);
  margin-top:  calc(5vmin + 5px);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
thead th, tfoot th { border-bottom: 2px solid whitesmoke; }
td { border-bottom: 1px solid whitesmoke }
th, td {
  text-align: left;
  padding: .5rem; 
}

.container {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header { 
  position: absolute;
  top: 0;
  width: 100%;
}
.title--heading {
  display: inline-block;
  vertical-align: top;
}
.container-body {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin: 17vmin 6vmin 0; 
  width: 100%;
}
.logo {
  animation: logo-spin infinite 20s linear;
  height: 20vmin;
  width: 4em;

}
.link {
  color: var(--main-color);
  font-size: 5vmin;
  text-decoration: none;
}

/* Buttons
  =============== */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  background-color: rgba(97, 218, 251, 0.1);
  border: var(--main-border);
  border-radius: 2px;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(7px + 2vmin);
  line-height: 1;
  text-align: center;
  padding: .5rem 1.5rem;
}
.button:hover, a.button:hover, button:hover, [type=submit]:hover, 
[type=reset]:hover, [type=button]:hover,
.button:focus, .button:active, a.button:focus, a.button:active,
button:focus, button:active, [type=submit]:focus, [type=submit]:active,
[type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: var(--main-border);
  background-color:var(--main-color);
  color: var(--main-bg-color);
}

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner,
 [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, 
 [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0; 
}
.button__submit {
  margin-right: .5em;
  max-height: 2.8em;
  padding: 0.5em 3em;
}

[type=text], [type=password] {
  background: transparent;
  border: 2px solid #cdcdcd;
  border-radius: 2px;
  color: whitesmoke;
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: .5rem;
  outline: none;
  padding: 1.5vmin;
  width: 100%;
}
[type=text]:hover {
  border: 2px solid #b4b4b4; 
}

[type=password]:focus, [type=password]:active,
[type=text]:focus, [type=text]:active {
  border: 2px solid var(--main-color);
  box-shadow: none; 
}
.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.form-group { 
  padding: 0 1.5em 0.5em 0; 
  width: 100%;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (min-width: 425px) { h2 { margin-top:  calc(6vmin + 5px); } }
@media (min-width: 601px) {
  .button, a.button, button, [type=submit],
  [type=reset], [type=button] { 
    font-size: 2vmin;
    padding: .6rem 3rem;
  }
  .button__submit { margin-right: 2vw; }  
  .form-group {     
    width: 42%;
    margin-right: .4em;
  }
  .logo { width: 6em; }
}
@media (min-width: 1564px) { .button__submit { margin-right: 1vw; } }